[Unit]
Description=Daemon WebServerPrefork CE4303
After=network.target syslog.service

[Service]
User=root
ExecStart=/etc/webserver/server

[Install]
WantedBy=graphical.target



